template#pscnn-loteria
    div.pscnn-loteria(v-if="isFilled()")
        div.wrapper
            table.main
                thead
                    tr
                        th(:style="{ 'background-color': getColor() }")
                            | Concurso {{data.loteria.concurso}} * {{getWeekDay(data.loteria.data)}}
                tbody
                    tr
                        td
                            ul
                                li(
                                    v-for="(dezena, index) of data.loteria.dezenas" :key="index"
                                    :style="{ 'background-color': getColor() }"
                                ) {{dezena}}
                    tr
                        td
                            div
                                span.prize PRÊMIO
                                span.prize-value {{getCurrency(data.loteria.premiacoes[0].valorPremio)}}
            table.list
                thead
                    tr
                        th(:style="{ 'color': getColor() }") Faixas
                        th(:style="{ 'color': getColor() }") Ganhadores
                        th(:style="{ 'color': getColor() }") Prêmio
                tbody
                    tr(v-for="(premiacao, index) of data.loteria.premiacoes" :key="index")
                        td {{premiacao.faixa}}
                        td {{premiacao.ganhadores}}
                        td {{getCurrency(premiacao.valorPremio)}}

div.pscnn-loterias
    pscnn-loteria(loteria="{$loteria}" concurso="{$concurso}")
