.error{
    color: red;
    font-size: 1.3em;
    line-height: 1.4em;
    text-align: center;
    margin: 10px;
}

#loteria{
    padding: 0px;
    width: 100%;
    max-width: 906px;
    margin: 30px auto 60px;
    background: transparent;
    border: none;
}

#concurso{
    padding: 0;
    width: 100%;
    max-width: 1080px;
    margin: 40px auto;
    background: white;
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
} 

#loteria .cabecalho{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding: 20px;
}

#loteria .dezenas{
    display: flex;
    width: 100%;
    padding: 40px;    
}

#loteria .dezenas-itens{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px 10px;
    flex-wrap: wrap;
}

#loteria .dezenas-itens li{
    color: #fff;
    padding: 0;
    margin: 10px;
    border-radius: 100%;
    width: 67px;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 24px;
    font-weight: 800;
    text-align: center;
}

#loteria .premiacao{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 40px 40px 30px;
    flex-direction: column;
    border-bottom: 1px solid #CBCBCB;
    border-top: 1px solid #CBCBCB;
    margin-bottom: 40px;
}

#loteria .premiacao p{
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    text-align: center;
    color: #1E1E1E;
}

#loteria .premiacao p:last-child{
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
    text-align: center;
    color: #1E1E1E;
}

#loteria #table-premiacoes{
    margin: 0;
    padding: 0;
    width: 100%;
}

#loteria #table-premiacoes th{
    font-size: 20px;
    line-height: 24px;
    font-weight: 800;
    text-align: center;
    text-transform: none !important;
}

#loteria #table-premiacoes tr{
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;    
    color: #1E1E1E;
}

#loteria #table-premiacoes td{
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;    
    color: #1E1E1E;
    text-align: center;
}

#loteria #table-premiacoes tr:last-child td{
    border-bottom: none !important;
}

/* Estilo para todas as loterias */
.loteria .cabecalho,
.loteria .dezenas .dezenas-itens li {
  width: 100%;
  height: auto;
}

/* Estilo para cada loteria */
.loteria-maismilionaria .cabecalho,
.loteria-maismilionaria .dezenas .dezenas-itens li {
  background-color: var(--maismilionaria-color);
}
.loteria-megasena #table-premiacoes th{
  color: var(--megasena-color);
}

.loteria-megasena .cabecalho,
.loteria-megasena .dezenas .dezenas-itens li {
  background-color: var(--megasena-color);
}
.loteria-megasena #table-premiacoes th{
  color: var(--megasena-color);
}

.loteria-lotofacil .cabecalho,
.loteria-lotofacil .dezenas .dezenas-itens li {
  background-color: var(--lotofacil-color);
}
.loteria-lotofacil #table-premiacoes th{
  color: var(--lotofacil-color);
}

.loteria-quina .cabecalho,
.loteria-quina .dezenas .dezenas-itens li {
  background-color: var(--quina-color);
}
.loteria-quina #table-premiacoes th{
  color: var(--quina-color);
}

.loteria-lotomania .cabecalho,
.loteria-lotomania .dezenas .dezenas-itens li {
  background-color: var(--lotomania-color);
}
.loteria-lotomania #table-premiacoes th{
  color: var(--lotomania-color);
}

.loteria-timemania .cabecalho,
.loteria-timemania .dezenas .dezenas-itens li {
  background-color: var(--timemania-color);
}
.loteria-timemania #table-premiacoes th{
  color: var(--timemania-color);
}

.loteria-duplasena .cabecalho,
.loteria-duplasena .dezenas .dezenas-itens li {
  background-color: var(--duplasena-color);
}
.loteria-duplasena #table-premiacoes th{
  color: var(--duplasena-color);
}

.loteria-federal .cabecalho{
  background-color: var(--federal-color);
}
.loteria-federal .dezenas .dezenas-itens li {
  background-color: var(--federal-color);
  width: 94px !important;
  height: 94px !important;
}
.loteria-federal #table-premiacoes th{
  color: var(--federal-color);
}

.loteria-diadesorte .cabecalho,
.loteria-diadesorte .dezenas .dezenas-itens li {
  background-color: var(--diadesorte-color);
}
.loteria-diadesorte #table-premiacoes th{
  color: var(--diadesorte-color);
}

.loteria-supersete .cabecalho,
.loteria-supersete .dezenas .dezenas-itens li {
  background-color: var(--supersete-color);
}
.loteria-supersete #table-premiacoes th{
  color: var(--supersete-color);
}

