/* Definição de variáveis */
:root {
    --maismilionaria-color: #2E3078;
    --megasena-color: #2D976A;
    --lotofacil-color: #921788;
    --quina-color: #261383;
    --lotomania-color: #F58123;
    --timemania-color: #3DAF3E;
    --duplasena-color: #A41628;
    --federal-color: #133497;
    --diadesorte-color: #CA8536;
    --supersete-color: #A9CF50;
  }